{% extends "base.html" %}
{% load form_helpers %}

{% block content %}

<div class="container mx-auto p-4">
    <h1 class="text-2xl font-bold mb-4">Testimonials</h1>
    <div class="flex justify-between mb-4">
        <input type="text" id="searchInput" placeholder="Search testimonials..." onkeyup="searchTable()" class="px-4 py-2 border rounded-lg">
        <button onclick="openAddModal()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Add New Testimonial</button>
    </div>
    <div class="overflow-x-auto">
        <table class="min-w-full bg-white" id="testimonialsTable">
            <thead>
                <tr>
                    <th class="py-2 px-4 border border-gray-300 text-left">Image</th>
                    <th class="py-2 px-4 border border-gray-300 text-left">Name</th>
                    <th class="py-2 px-4 border border-gray-300 text-left">Testimonial</th>
                    <th class="py-2 px-4 border border-gray-300 text-left">School</th>
                    <th class="py-2 px-4 border border-gray-300 text-left">Program</th>
                    <th class="py-2 px-4 border border-gray-300 text-left">Cohort</th>
                    <th class="py-2 px-4 border border-gray-300 text-left">Video</th>
                    <th class="py-2 px-4 border border-gray-300 text-left">Featured?</th>
                     <th class="py-2 px-4 border border-gray-300 text-left">Action</th>

                </tr>
            </thead>
            <tbody>
                {% for testimonial in page_obj %}
                <tr>
                    <td class="py-2 px-4 border border-gray-300">
                        {% if testimonial.fellow.user.picture %}
                            <img src="{{ testimonial.fellow.user.picture.url }}" alt="{profile" class="w-10 h-10 rounded-full">
                        {% else %}
                            <img src="https://i.pravatar.cc/300" alt="profile" class="w-10 h-10 rounded-full">
                        {% endif %}
                    </td>
                    <td class="py-2 px-4 border border-gray-300">{{ testimonial.fellow.user.full_name }}</td>
                   <td class="py-2 px-4 border border-gray-300">{{ testimonial.content|truncatechars:75 }}</td>
                    <td class="py-2 px-4 border border-gray-300">{{ testimonial.fellow.school }}</td>
                    <td class="py-2 px-4 border border-gray-300">{{ testimonial.fellow.program }}</td>
                    <td class="py-2 px-4 border border-gray-300">{{ testimonial.fellow.cohort }}</td>
                    <td class="py-2 px-4 border border-gray-300">
                        {% if testimonial.media %}
                            <a href="{{ testimonial.media.url }}" target="_blank" class="text-blue-500 hover:text-blue-700">View</a>
                        {% else %}
                            N/A
                        {% endif %}
                   <td class="py-2 px-4 border border-gray-300">
                        {% if testimonial.is_featured %}
                            <span class="text-green-500">&#10004;</span>  <!-- This will display a green check mark -->
                        {% else %}
                            <span class="text-red-500">&#10006;</span>  <!-- This will display a red cross -->
                        {% endif %}
                    </td>
                    <td class="py-2 px-4 border border-gray-300">
                        <button class="text-blue-500 hover:text-blue-700" onclick="openUpdateModal('{{ testimonial.id }}', '{{testimonial.fellow.id}}', '{{testimonial.content|escapejs}}', '{{testimonial.is_featured}}', '{{testimonial.media.url}}', '{{testimonial.tag_ids}}')">
                        <svg class="w-5 h-5 inline" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path>
                        </svg>
                        Update
                        </button>
                        <button class="text-red-500 hover:text-red-700" onclick="deleteTestimonial('{{ testimonial.id }}')">
                            <svg class="w-5 h-5 inline" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                            </svg>
                            Delete
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'components/pagination.html' with page_obj=page_obj %}
</div>

 {% include 'components/add_testimonial_modal.html'  %}

<!-- JavaScript -->
<script>
    function openAddModal() {
         document.getElementById('testimonial-form-id').reset();
        document.getElementById('addModal').classList.remove('hidden');
    }
    function clearModalForm() {
    document.getElementById('addModal').classList.add('hidden')
    document.getElementById('testimonial-form-id').reset();
}
function openUpdateModal(testimonial_id, user_id, content, is_featured, media, tag_ids) {
    document.getElementById('modal-title').innerText = 'Update Testimonial';
    document.getElementById("submit-btn").innerText = 'Update Testimonial';
    document.getElementById('addModal').classList.remove('hidden');

    let form = document.getElementById('testimonial-form-id');
    form.action = '/testimonials/update/' + testimonial_id;

    form.elements.namedItem('content').value = content;
    form.elements.namedItem('fellow').value = user_id;
    form.elements.namedItem('is_featured').checked = is_featured === "True";

    const mediaField = document.getElementById("testimonial-media-element");
     mediaField.href = media;
     if(media){
         mediaField.innerText = 'view current file';
     } else {
         mediaField.innerText = '';
     }
    const tagsArray = tag_ids.split(',');
    for (let i = 0; i < tagsArray.length; i++) {
        const checkbox = document.querySelector(`input[name="tags"][value="${tagsArray[i]}"]`);
        if (checkbox) {
            checkbox.checked = true;
        }
    }

}

function deleteTestimonial(testimonial_id) {
    if (confirm('Are you sure you want to delete this testimonial?')) {
        window.location.href = '/testimonials/delete/' + testimonial_id;
    }
}

    function searchTable() {
        let input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("testimonialsTable");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>

{% endblock %}


